<html>
    <head>
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='style/main.css') }}">
    </head>
    <body>
        <h4>Testing the post request</h4>
        <form method="post" action="/post">
            <label for="name">Please Enter Your Name:</label>
            <input name="name" type="text" />
            <label for="email">Please Enter Your Email:</label>
            <input name="email" type="email" />
            <input type="submit" />
        </form>
    </body>
    <script src="{{ url_for('static',filename='javascript/app.js') }}"></script>
</html>